input#btn_kensaku {
	font-size: 120%;
}

.tbl {
	border-width: thin;
	border-style: solid;
	width: 33%;
	text-align : center;
}

.tbl_nayose {
	border-width: thin;
	border-style: solid;
	width: 50%;
	text-align : center;
}

#hdBtnCreate {
	background-color: rgb(66, 64, 182);
	color: antiquewhite;
	font-size: 15pt;
}

.hdBtnClear {
	background-color: rgb(255, 228, 108);
	/* font-size: 13pt;
	*/
}

.hdSho {
	font-size: 15pt;
}