<area href="images/kasane/kasane01.pdf" target="_blank" shape="circle" alt="円形" coords="920,163,15">
<area href="images/kasane/kasane02.pdf" target="_blank" shape="circle" alt="円形" coords="902,184,15">
<area href="images/kasane/kasane03.pdf" target="_blank" shape="circle" alt="円形" coords="858,213,15">
<area href="images/kasane/kasane04.pdf" target="_blank" shape="circle" alt="円形" coords="854,186,15">
<area href="images/kasane/kasane05.pdf" target="_blank" shape="circle" alt="円形" coords="836,162,15">
<area href="images/kasane/kasane06.pdf" target="_blank" shape="circle" alt="円形" coords="823,134,15">
<area href="images/kasane/kasane07.pdf" target="_blank" shape="circle" alt="円形" coords="764,155,15">
<area href="images/kasane/kasane08.pdf" target="_blank" shape="circle" alt="円形" coords="786,203,15">
<area href="images/kasane/kasane09.pdf" target="_blank" shape="circle" alt="円形" coords="740,240,15">
<area href="images/kasane/kasane10.pdf" target="_blank" shape="circle" alt="円形" coords="687,266,15">
<area href="images/kasane/kasane11.pdf" target="_blank" shape="circle" alt="円形" coords="681,240,15">
<area href="images/kasane/kasane12.pdf" target="_blank" shape="circle" alt="円形" coords="691,205,15">
<area href="images/kasane/kasane13.pdf" target="_blank" shape="circle" alt="円形" coords="684,179,15">
<area href="images/kasane/kasane14.pdf" target="_blank" shape="circle" alt="円形" coords="599,195,15">
<area href="images/kasane/kasane15.pdf" target="_blank" shape="circle" alt="円形" coords="602,220,15">
<area href="images/kasane/kasane16.pdf" target="_blank" shape="circle" alt="円形" coords="605,249,15">
<area href="images/kasane/kasane17.pdf" target="_blank" shape="circle" alt="円形" coords="604,274,15">
<area href="images/kasane/kasane18.pdf" target="_blank" shape="circle" alt="円形" coords="625,299,15">
<area href="images/kasane/kasane19.pdf" target="_blank" shape="circle" alt="円形" coords="594,299,15">
<area href="images/kasane/kasane20.pdf" target="_blank" shape="circle" alt="円形" coords="508,338,15">
<area href="images/kasane/kasane21.pdf" target="_blank" shape="circle" alt="円形" coords="518,303,15">
<area href="images/kasane/kasane22.pdf" target="_blank" shape="circle" alt="円形" coords="520,273,15">
<area href="images/kasane/kasane23.pdf" target="_blank" shape="circle" alt="円形" coords="455,258,15">
<area href="images/kasane/kasane24.pdf" target="_blank" shape="circle" alt="円形" coords="514,246,15">
<area href="images/kasane/kasane25.pdf" target="_blank" shape="circle" alt="円形" coords="518,221,15">
<area href="images/kasane/kasane26.pdf" target="_blank" shape="circle" alt="円形" coords="444,202,15">
<area href="images/kasane/kasane27.pdf" target="_blank" shape="circle" alt="円形" coords="517,194,15">
<area href="images/kasane/kasane28.pdf" target="_blank" shape="circle" alt="円形" coords="558,159,15">
<area href="images/kasane/kasane29.pdf" target="_blank" shape="circle" alt="円形" coords="612,130,15">
<area href="images/kasane/kasane30.pdf" target="_blank" shape="circle" alt="円形" coords="540,130,15">
<area href="images/kasane/kasane31.pdf" target="_blank" shape="circle" alt="円形" coords="555,102,15">
<area href="images/kasane/kasane32.pdf" target="_blank" shape="circle" alt="円形" coords="562,69,15">
<area href="images/kasane/kasane33.pdf" target="_blank" shape="circle" alt="円形" coords="513,49,15">
<area href="images/kasane/kasane34.pdf" target="_blank" shape="circle" alt="円形" coords="461,70,15">
<area href="images/kasane/kasane35.pdf" target="_blank" shape="circle" alt="円形" coords="476,103,15">
<area href="images/kasane/kasane36.pdf" target="_blank" shape="circle" alt="円形" coords="478,130,15">
<area href="images/kasane/kasane37.pdf" target="_blank" shape="circle" alt="円形" coords="479,159,15">
<area href="images/kasane/kasane38.pdf" target="_blank" shape="circle" alt="円形" coords="422,130,15">
<area href="images/kasane/kasane39.pdf" target="_blank" shape="circle" alt="円形" coords="222,50,15">
<area href="images/kasane/kasane40.pdf" target="_blank" shape="circle" alt="円形" coords="322,73,15">
<area href="images/kasane/kasane41.pdf" target="_blank" shape="circle" alt="円形" coords="315,128,15">
<area href="images/kasane/kasane42.pdf" target="_blank" shape="circle" alt="円形" coords="379,106,15">
<area href="images/kasane/kasane43.pdf" target="_blank" shape="circle" alt="円形" coords="380,146,15">
<area href="images/kasane/kasane44.pdf" target="_blank" shape="circle" alt="円形" coords="407,215,15">
<area href="images/kasane/kasane45.pdf" target="_blank" shape="circle" alt="円形" coords="426,268,15">
<area href="images/kasane/kasane46.pdf" target="_blank" shape="circle" alt="円形" coords="404,259,15">
<area href="images/kasane/kasane47.pdf" target="_blank" shape="circle" alt="円形" coords="361,272,15">
<area href="images/kasane/kasane48.pdf" target="_blank" shape="circle" alt="円形" coords="364,225,15">
<area href="images/kasane/kasane49.pdf" target="_blank" shape="circle" alt="円形" coords="323,190,15">
<area href="images/kasane/kasane50.pdf" target="_blank" shape="circle" alt="円形" coords="296,218,15">
<area href="images/kasane/kasane51.pdf" target="_blank" shape="circle" alt="円形" coords="296,245,15">
<area href="images/kasane/kasane52.pdf" target="_blank" shape="circle" alt="円形" coords="295,271,15">
<area href="images/kasane/kasane53.pdf" target="_blank" shape="circle" alt="円形" coords="338,300,15">
<area href="images/kasane/kasane54.pdf" target="_blank" shape="circle" alt="円形" coords="442,324,15">
<area href="images/kasane/kasane55.pdf" target="_blank" shape="circle" alt="円形" coords="411,338,15">
<area href="images/kasane/kasane56.pdf" target="_blank" shape="circle" alt="円形" coords="338,330,15">
<area href="images/kasane/kasane57.pdf" target="_blank" shape="circle" alt="円形" coords="337,356,15">
<area href="images/kasane/kasane58.pdf" target="_blank" shape="circle" alt="円形" coords="407,372,15">
<area href="images/kasane/kasane59.pdf" target="_blank" shape="circle" alt="円形" coords="361,378,15">
<area href="images/kasane/kasane60.pdf" target="_blank" shape="circle" alt="円形" coords="285,376,15">
<area href="images/kasane/kasane61.pdf" target="_blank" shape="circle" alt="円形" coords="210,367,15">
<area href="images/kasane/kasane62.pdf" target="_blank" shape="circle" alt="円形" coords="225,349,15">
<area href="images/kasane/kasane63.pdf" target="_blank" shape="circle" alt="円形" coords="210,322,15">
<area href="images/kasane/kasane64.pdf" target="_blank" shape="circle" alt="円形" coords="209,297,15">
<area href="images/kasane/kasane65.pdf" target="_blank" shape="circle" alt="円形" coords="206,269,15">
<area href="images/kasane/kasane66.pdf" target="_blank" shape="circle" alt="円形" coords="207,241,15">
<area href="images/kasane/kasane67.pdf" target="_blank" shape="circle" alt="円形" coords="208,217,15">
<area href="images/kasane/kasane68.pdf" target="_blank" shape="circle" alt="円形" coords="185,192,15">
<area href="images/kasane/kasane69.pdf" target="_blank" shape="circle" alt="円形" coords="231,184,15">
<area href="images/kasane/kasane70.pdf" target="_blank" shape="circle" alt="円形" coords="212,103,15">
<area href="images/kasane/kasane71.pdf" target="_blank" shape="circle" alt="円形" coords="148,100,15">
<area href="images/kasane/kasane72.pdf" target="_blank" shape="circle" alt="円形" coords="123,99,15">
<area href="images/kasane/kasane73.pdf" target="_blank" shape="circle" alt="円形" coords="95,106,15">
<area href="images/kasane/kasane74.pdf" target="_blank" shape="circle" alt="円形" coords="133,126,15">
<area href="images/kasane/kasane75.pdf" target="_blank" shape="circle" alt="円形" coords="102,149,15">
<area href="images/kasane/kasane76.pdf" target="_blank" shape="circle" alt="円形" coords="142,214,15">
<area href="images/kasane/kasane77.pdf" target="_blank" shape="circle" alt="円形" coords="92,197,15">
<area href="images/kasane/kasane78.pdf" target="_blank" shape="circle" alt="円形" coords="97,223,15">
<area href="images/kasane/kasane79.pdf" target="_blank" shape="circle" alt="円形" coords="124,256,15">
<area href="images/kasane/kasane80.pdf" target="_blank" shape="circle" alt="円形" coords="141,313,15">
<area href="images/kasane/kasane81.pdf" target="_blank" shape="circle" alt="円形" coords="116,318,15">
<area href="images/kasane/kasane82.pdf" target="_blank" shape="circle" alt="円形" coords="142,394,15">
<area href="images/kasane/kasane83.pdf" target="_blank" shape="circle" alt="円形" coords="101,393,15">
<area href="images/kasane/kasane84.pdf" target="_blank" shape="circle" alt="円形" coords="59,404,15">
<area href="images/kasane/kasane85.pdf" target="_blank" shape="circle" alt="円形" coords="60,377,15">
<area href="images/kasane/kasane86.pdf" target="_blank" shape="circle" alt="円形" coords="61,356,15">
<area href="images/kasane/kasane87.pdf" target="_blank" shape="circle" alt="円形" coords="87,324,15">
<area href="images/kasane/kasane88.pdf" target="_blank" shape="circle" alt="円形" coords="68,316,15">
<area href="images/kasane/kasane89.pdf" target="_blank" shape="circle" alt="円形" coords="76,250,15">
<area href="images/kasane/kasane90.pdf" target="_blank" shape="circle" alt="円形" coords="57,202,15">
<area href="images/kasane/kasane91.pdf" target="_blank" shape="circle" alt="円形" coords="62,146,15">
