<area href="kasane01.pdf" shape="circle" alt="円形" coords="920,168,8">
<area href="kasane02.pdf" shape="circle" alt="円形" coords="902,189,8">
<area href="kasane03.pdf" shape="circle" alt="円形" coords="858,218,8">
<area href="kasane04.pdf" shape="circle" alt="円形" coords="854,191,8">
<area href="kasane05.pdf" shape="circle" alt="円形" coords="836,167,8">
<area href="kasane06.pdf" shape="circle" alt="円形" coords="823,139,8">
<area href="kasane07.pdf" shape="circle" alt="円形" coords="764,160,8">
<area href="kasane08.pdf" shape="circle" alt="円形" coords="786,208,8">
<area href="kasane09.pdf" shape="circle" alt="円形" coords="740,245,8">
<area href="kasane10.pdf" shape="circle" alt="円形" coords="687,271,8">
<area href="kasane11.pdf" shape="circle" alt="円形" coords="681,245,8">
<area href="kasane12.pdf" shape="circle" alt="円形" coords="691,210,8">
<area href="kasane13.pdf" shape="circle" alt="円形" coords="684,184,8">
<area href="kasane14.pdf" shape="circle" alt="円形" coords="599,200,8">
<area href="kasane15.pdf" shape="circle" alt="円形" coords="602,225,8">
<area href="kasane16.pdf" shape="circle" alt="円形" coords="605,254,8">
<area href="kasane17.pdf" shape="circle" alt="円形" coords="604,279,8">
<area href="kasane18.pdf" shape="circle" alt="円形" coords="625,304,8">
<area href="kasane19.pdf" shape="circle" alt="円形" coords="594,304,8">
<area href="kasane20.pdf" shape="circle" alt="円形" coords="508,343,8">
<area href="kasane21.pdf" shape="circle" alt="円形" coords="518,308,8">
<area href="kasane22.pdf" shape="circle" alt="円形" coords="520,278,8">
<area href="kasane23.pdf" shape="circle" alt="円形" coords="455,263,8">
<area href="kasane24.pdf" shape="circle" alt="円形" coords="514,251,8">
<area href="kasane25.pdf" shape="circle" alt="円形" coords="518,226,8">
<area href="kasane26.pdf" shape="circle" alt="円形" coords="444,207,8">
<area href="kasane27.pdf" shape="circle" alt="円形" coords="517,199,8">
<area href="kasane28.pdf" shape="circle" alt="円形" coords="558,164,8">
<area href="kasane29.pdf" shape="circle" alt="円形" coords="612,135,8">
<area href="kasane30.pdf" shape="circle" alt="円形" coords="540,135,8">
<area href="kasane31.pdf" shape="circle" alt="円形" coords="555,107,8">
<area href="kasane32.pdf" shape="circle" alt="円形" coords="562,74,8">
<area href="kasane33.pdf" shape="circle" alt="円形" coords="513,54,8">
<area href="kasane34.pdf" shape="circle" alt="円形" coords="461,75,8">
<area href="kasane35.pdf" shape="circle" alt="円形" coords="476,108,8">
<area href="kasane36.pdf" shape="circle" alt="円形" coords="478,135,8">
<area href="kasane37.pdf" shape="circle" alt="円形" coords="479,164,8">
<area href="kasane38.pdf" shape="circle" alt="円形" coords="422,135,8">
<area href="kasane39.pdf" shape="circle" alt="円形" coords="222,55,8">
<area href="kasane40.pdf" shape="circle" alt="円形" coords="322,78,8">
<area href="kasane41.pdf" shape="circle" alt="円形" coords="315,133,8">
<area href="kasane42.pdf" shape="circle" alt="円形" coords="379,111,8">
<area href="kasane43.pdf" shape="circle" alt="円形" coords="380,151,8">
<area href="kasane44.pdf" shape="circle" alt="円形" coords="407,220,8">
<area href="kasane45.pdf" shape="circle" alt="円形" coords="426,273,8">
<area href="kasane46.pdf" shape="circle" alt="円形" coords="404,264,8">
<area href="kasane47.pdf" shape="circle" alt="円形" coords="361,277,8">
<area href="kasane48.pdf" shape="circle" alt="円形" coords="364,230,8">
<area href="kasane49.pdf" shape="circle" alt="円形" coords="323,195,8">
<area href="kasane50.pdf" shape="circle" alt="円形" coords="296,223,8">
<area href="kasane51.pdf" shape="circle" alt="円形" coords="296,250,8">
<area href="kasane52.pdf" shape="circle" alt="円形" coords="295,276,8">
<area href="kasane53.pdf" shape="circle" alt="円形" coords="338,305,8">
<area href="kasane54.pdf" shape="circle" alt="円形" coords="442,329,8">
<area href="kasane55.pdf" shape="circle" alt="円形" coords="411,343,8">
<area href="kasane56.pdf" shape="circle" alt="円形" coords="338,335,8">
<area href="kasane57.pdf" shape="circle" alt="円形" coords="337,361,8">
<area href="kasane58.pdf" shape="circle" alt="円形" coords="407,377,8">
<area href="kasane59.pdf" shape="circle" alt="円形" coords="361,383,8">
<area href="kasane60.pdf" shape="circle" alt="円形" coords="285,381,8">
<area href="kasane61.pdf" shape="circle" alt="円形" coords="210,372,8">
<area href="kasane62.pdf" shape="circle" alt="円形" coords="225,354,8">
<area href="kasane63.pdf" shape="circle" alt="円形" coords="210,327,8">
<area href="kasane64.pdf" shape="circle" alt="円形" coords="209,302,8">
<area href="kasane65.pdf" shape="circle" alt="円形" coords="206,274,8">
<area href="kasane66.pdf" shape="circle" alt="円形" coords="207,246,8">
<area href="kasane67.pdf" shape="circle" alt="円形" coords="208,222,8">
<area href="kasane68.pdf" shape="circle" alt="円形" coords="185,197,8">
<area href="kasane69.pdf" shape="circle" alt="円形" coords="231,189,8">
<area href="kasane70.pdf" shape="circle" alt="円形" coords="212,108,8">
<area href="kasane71.pdf" shape="circle" alt="円形" coords="148,105,8">
<area href="kasane72.pdf" shape="circle" alt="円形" coords="123,104,8">
<area href="kasane73.pdf" shape="circle" alt="円形" coords="95,111,8">
<area href="kasane74.pdf" shape="circle" alt="円形" coords="133,131,8">
<area href="kasane75.pdf" shape="circle" alt="円形" coords="102,154,8">
<area href="kasane76.pdf" shape="circle" alt="円形" coords="142,219,8">
<area href="kasane77.pdf" shape="circle" alt="円形" coords="92,202,8">
<area href="kasane78.pdf" shape="circle" alt="円形" coords="97,228,8">
<area href="kasane79.pdf" shape="circle" alt="円形" coords="124,261,8">
<area href="kasane80.pdf" shape="circle" alt="円形" coords="141,318,8">
<area href="kasane81.pdf" shape="circle" alt="円形" coords="116,323,8">
<area href="kasane82.pdf" shape="circle" alt="円形" coords="142,399,8">
<area href="kasane83.pdf" shape="circle" alt="円形" coords="101,398,8">
<area href="kasane84.pdf" shape="circle" alt="円形" coords="59,409,8">
<area href="kasane85.pdf" shape="circle" alt="円形" coords="60,382,8">
<area href="kasane86.pdf" shape="circle" alt="円形" coords="61,361,8">
<area href="kasane87.pdf" shape="circle" alt="円形" coords="87,329,8">
<area href="kasane88.pdf" shape="circle" alt="円形" coords="68,321,8">
<area href="kasane89.pdf" shape="circle" alt="円形" coords="76,255,8">
<area href="kasane90.pdf" shape="circle" alt="円形" coords="57,207,8">
<area href="kasane91.pdf" shape="circle" alt="円形" coords="62,151,8">