nav
  ul
    li: a(href="#") Top
    li: a(href="#") About
<p>aaa</p>
img(src="images/ichizu.jpg" usemap="#sample" width="1024" height="768" alt="area-map" title="area-map")
map(name="sample")
 include content_top_map


//- <img border="0" src="sample/area.gif" usemap="#sample" alt="サンプル" width="1024" height="768">
