- console.log(tbl[0].bk)
h5= "[  " + tbl[0].bk + " ブロック] " + title 
div(style='overflow-y:scroll; height:500px')
  table
    tbody
        - for(let i=0; i<tbl.length; i++ ){
        -   let rec = tbl[i];
          tr
            td= rec.lotEd + " ロット:" + rec.men + "㎡:" + rec.name 
        - }


p
a(href="/ygtop.html") 位置図を表示