form.kensaku(name="kenri_form" )
    div
        p 検索文字を入力
        //span.label Title
        input(type="text", name="owner")

nav
- arr = [["あ","い","う","え","お"],["か","き","く","け","こ"],["さ","し","す","せ","そ"],["た","ち","つ","て","と"],["な","に","ぬ","ね","の"],["は","ひ","ふ","へ","ほ"],["ま","み","む","め","も"],["や","ゆ","よ"],["ら","り","る","れ","ろ"],["わ"]];

    ul#kana_kensaku
        - arr.forEach(dan => {
            li
                - dan.forEach(str => {
                    a.kana(href="#")= str
                    //a.kana(href="/sho_kana?owner=#{str}")= str
                    //div.kana= str
                    span= "---"
                - });

        - });

