form(name="kenri_form" action="/testJade")
    div.input
        //span.label Title
        input(type="text", name="owner")
    div.input
        input(type="button" id="btn_kensaku" value="検索開始" onclick="toMainWin(this.form.owner.value)")
        //span.label Description
    
        input(type="submit", value="送信")
nav
    ul
      li
        - arr = ["あ","い","う","え","佐々木"];
        - arr.forEach(str => {
            a(href="/testJade?owner=#{str}")= str
            span= "---"
            //  span
            //   input(type="button" //style="width:20px;hight:20px" //value="#{str}")
        -});

