h5= title
div(style='overflow-y:scroll; height:500px')
  //- for (var i = 0; i < owners.length ; i++) {
  //-  - var owner = owners[i];
  //-  li= owner.name + " : " + owner.sho_code
  //- }
p
a(href="/ygtop.html") 位置図を表示